<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fuente para titulos, menu, botones y links -->
        <link rel="stylesheet" href="https://use.typekit.net/ltv7aza.css">
        <!-- fuente para textos -->
        <link rel="stylesheet" href="https://use.typekit.net/qqp3hjl.css">
        <!-- Archivo CSS -->
        <link rel="../style.css">
        <title>Login Form</title>
    </head>
    <body>
        <main className='formOuterContainer'>
            <%- include('./partials/navbar.ejs'); %>
            <form className='clientForm' action="/login" method="post">
                <h2 className='clientFormTitle'>* Inici치 Sesi칩n *</h2>
                <hr className='ruler'>
                <p className='clientFormInputTitle'>Nombre de Usuario:</p>
                <input className='clientFormInput' name="username" type="text" placeholder="Nombre de Usuario" required>
                <p className='clientFormInputTitle'>Contrase침a:</p>
                <input className='clientFormInput' name="password" type="password" placeholder="Contrase침a" required>
                <input className='clientFormButton' type="submit" value="Ingresar">
            </form>
            <a href="/register">Registrate</a>
            <%- include('./partials/footer.ejs'); %>
        </main>
    </body>
</html>
