<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fuente para titulos, menu, botones y links -->
        <link rel="stylesheet" href="https://use.typekit.net/ltv7aza.css">
        <!-- fuente para textos -->
        <link rel="stylesheet" href="https://use.typekit.net/qqp3hjl.css">
        <!-- Archivo CSS -->
        <link rel="../style.css">
        <title>Random Number Generator</title>
    </head>
    <body className='background'>
        <main className='outerContainer'>
            <h1 className='mainTitle'>* Random Number Generator *</h1>
            <p className='text'><%-numbers%></p>
        </main>
    </body>
</html>