<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fuente para titulos, menu, botones y links -->
        <link rel="stylesheet" href="https://use.typekit.net/ltv7aza.css">
        <!-- fuente para textos -->
        <link rel="stylesheet" href="https://use.typekit.net/qqp3hjl.css">
        <!-- Archivo CSS -->
        <link rel="../style.css">
        <title>User Home</title>
    </head>
    <body>
        <main className='formOuterContainer'>
            <%- include('./partials/navbar.ejs'); %>
            <h1 className='clientFormTitle'>* Bienvenido, <%-name%>!*</h1>
            <form className='clientForm' action="/user" method="post">
                <input className='clientFormButton' type="submit" value="Log Out">
            </form>
            <%- include('./partials/footer.ejs'); %>
        </main>
    </body>
</html>