<nav>
    <div>
        <a href='/'>
            <img src='../../images/music-toggle-pause-to-play.svg' alt='imagen logo'/>
            <img src='../../images/music-toggle-play-to-pause.svg' alt='imagen logo'/>
        </a>
        <a href='/'>RÄW</a>
    </div>
    <a href="/shop/products/gallery">Productos</a>
    <a href="/user/login">Iniciá sesión</a>
    <a href="/user/register">Registrate</a>
</nav>