<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fuente para titulos, menu, botones y links -->
        <!-- <link rel="stylesheet" href="https://use.typekit.net/ltv7aza.css"> -->
        <!-- fuente para textos -->
        <!-- <link rel="stylesheet" href="https://use.typekit.net/qqp3hjl.css"> -->
        <!-- Archivo CSS -->
        <!-- <link rel="stylesheet" href="../style.css"> -->
        <title>RAW Home</title>
    </head>
    <body>
        <main>
            <div>
                <a href="/shop/products/gallery">
                    <img src='../images/music-toggle-pause-to-play.svg' alt='imagen logo'/>
                    <img src='../images/music-toggle-play-to-pause.svg' alt='imagen logo'/>
                </a>
                <div>
                    <a href="/user/login">
                        <button>Inciá Sesión</button>
                    </a>
                    <a href="/user/register">
                        <button>Registrate</button>
                    </a>
                </div>
            </div>
        </main>
    </body>
</html>