<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fuente para titulos, menu, botones y links -->
        <!-- <link rel="stylesheet" href="https://use.typekit.net/ltv7aza.css"> -->
        <!-- fuente para textos -->
        <!-- <link rel="stylesheet" href="https://use.typekit.net/qqp3hjl.css"> -->
        <!-- Archivo CSS -->
        <!-- <link rel="stylesheet" href="../style.css"> -->
        <script src="/socket.io/socket.io.js"></script>
        <title>Chat</title>
    </head>
    <body>
        <main>
            <%- include('./partials/navbarAuth.ejs'); %>
            <h1>Mis Mensajes</h1>
            <div>
                <ul></ul>
                <form action="post">
                    <input type="text" name="nuevoMensaje" placeholder="Escribí tu mensaje.">
                    <button type="submit">Enviar<button>
                </form>
            </div>
            <%- include('./partials/footer.ejs'); %>
        </main>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/Presentation/Scripts/websocketChatClient.js"></script>
    </body>
</html>