<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fuente para titulos, menu, botones y links -->
        <!-- <link rel="stylesheet" href="https://use.typekit.net/ltv7aza.css"> -->
        <!-- fuente para textos -->
        <!-- <link rel="stylesheet" href="https://use.typekit.net/qqp3hjl.css"> -->
        <!-- Archivo CSS -->
        <!-- <link rel="stylesheet" href="../style.css"> -->
        <title>Register Form</title>
    </head>
    <body>
        <main>
            <%- include('./partials/navbar.ejs'); %>
            <div>
                <p><%-message%></p>
            </div>
            <form action="/user/register" method="post">
                <h1>* Registrate *</h1>
                <hr>
                <p>Nombre de Usuario:</p>
                <input name="username" type="text" placeholder="Nombre de Usuario" required>
                <p>Nombre:</p>
                <input name="name" type="text" placeholder="Nombre" required>
                <p>Contraseña:</p>
                <input name="password" type="password" placeholder="Contraseña" required>
                <p>Correo Electrónico:</p>
                <input name="email" type="email" placeholder="Correo Electrónico" required>
                <input type="submit" value="Registrarme">
            </form>
            <a href="/user/login">Iniciá Sesión</a>
            <%- include('./partials/footer.ejs'); %>
        </main>
    </body>
</html>
